/* Define o fundo preto para toda a página */
body {
    background-color: black;
    color: orange; /* Define a cor do texto como laranja */
}

/* Estiliza o título */
h1 {
    color: orange; /* Mantém os títulos em laranja */
}

.card {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}